* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(242, 240, 190, 0.345);
}
.btn {
  height: 40px;
  width: 120px;
  border-radius: 50px;
  border-width: 1px;
  background-color: white;
  cursor: pointer;
}

/* nav styling*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  position: sticky;
  top: 0;
}

.nav-img {
  margin-left: 20px;
}
.nav-img p {
  font-size: 22px;
  font-weight: bolder;
  color: rgb(8, 135, 126);
}

.nav-contact {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  height: 50px;
  border-radius: 10px;
  padding-top: 10px;
  background: linear-gradient(cyan 5%, white 10%);
}

.nav-link a {
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}

.nav-link a:hover {
  color: rgb(8, 135, 126);
}

.nav-contact img {
  height: 25px;
  width: 25px;
  margin: 10px;
}

/* header styling */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
}

.header-item {
  text-align: center;
  text-transform: capitalize;
  margin-top: 100px;
}
.header-item h2 {
  font-size: 45px;
}

.header-item p {
  font-size: 20px;
}

/* About styling*/
.about {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.about-img {
  border: 1px solid pink;
  height: 400px;
  width: 400px;
  border-radius: 10px;
}
.about-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about-content {
  border: 1px solid pink;
  height: 400px;
  width: 50rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.about-content-text {
  font-size: 30px;
  line-height: 40px;
  padding: 15px;
  text-align: center;
}
.about-content-intro {
  text-align: center;
  text-transform: capitalize;
}

.about-education-items {
  margin: 40px;
}

.about-edu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}
.about-edu-items {
  border: 1px solid black;
  margin-right: 50px;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-top: 30px;
}
.about-edu-items:hover {
  box-shadow: 5px 0 5px 0 black;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about-edu-content {
  padding-top: 20px;
  padding-left: 20px;
  height: 250px;
  width: 300px;
  line-height: 30px;
}
.about-edu-content h4 {
  padding-top: 16px;
}
.about-tools {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.about-tools-item {
  border: 1px solid rgb(242, 10, 180);
  height: 60px;
  width: 60px;
  padding: 15px;
  border-radius: 10px;
}
.about-tools-item:hover {
  box-shadow: 5px 0 5px rgb(0, 0, 0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 80px;
  width: 80px;
}

/* services styling */

.service-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.service-intro {
  text-align: center;
  text-transform: capitalize;
  line-height: 50px;
  margin-bottom: 40px;
}
.service-intro h1 {
  font-size: 50px;
}

.service-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.service-content {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin-right: 50px;
  border-radius: 10px;
}
.service-content:hover {
  box-shadow: 5px 0 5px rgb(0, 0, 0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.service-content-item {
  /*border: 1px solid black;*/
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.service-content-item h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.service-content-item p {
  padding-bottom: 20px;
}

/* styling of the work section*/
.work-intro {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  line-height: 40px;
}

.work-intro h3 {
  font-size: 50px;
  padding: 10px 0 10px 0;
}
.work-intro p {
  font-size: 25px;
  text-align: center;
}
.work-portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px 10px;
}

.work-portfolio-content {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  background-color: lime;
}

.work-portfolio-content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 200px;
  margin-top: 130px;
  margin-left: 13px;
  border-radius: 8px;
  background-color: white;
}

.work-portfolio-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* contact styling*/

.contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  text-transform: capitalize;
}

.contact-intro h1 {
  font-size: 50px;
  padding: 10px 0 10px 0;
}

.contact-intro p {
  font-size: 25px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contatc-form-input input {
  height: 30px;
  width: 350px;
  padding-left: 10px;
  background-color: rgba(215, 255, 71, 0.381);
  border: none;
}

.contact-form-textarea {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-form-textarea textarea {
  background-color: rgba(215, 255, 71, 0.381);
  border: none;
  padding-left: 10px;
}
.email-address {
  display: flex;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 500px;
  width: 300px;
}
.email-address img {
  margin-top: 4px;
}

/*footer styling*/

.footer-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  height: 200px;
}

.footer-item {
  color: black;
  padding-top: 70px;
  margin-left: 40px;
}
.footer-item2 {
  margin-right: 40px;
  padding-right: 30px;
}
